<div class="container">
    <label>Server Name</label>
    <input 
        type="text"
        class="form-control"
        [(ngModel)]="serverName">
    <p>{{ serverName }}</p>
    <button
        class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>
    <p *ngIf="serverCreated">Server was created. Server name is {{ serverName }}</p>
    <!-- <p *ngIf="serverCreated; else noServer">Server was created. Server name is {{ serverName }}</p>
    <ng-template #noServer>
        <p>No server was created!</p>
    </ng-template> -->
</div>
<hr>
<app-server *ngFor="let server of servers"></app-server>
<hr>
<div class="container">
    <!-- Practice with username and data binding -->
    <input
        type="text"
        class="form-control"
        [(ngModel)]="userName"
    >   
    <p> {{ userName }}</p>
    <button
        class="btn btn-primary"
        [disabled]="userName === ''"
        (click)="onUpdateUserName()"
        >Add Username
    </button>
    <hr>
    <!-- Practice with directives-->
    <button 
        (click)="onButtonClick()">
        Display Details
    </button>
    <p *ngIf="buttonClicked">Unlimited Power!</p>
    <div 
        *ngFor="let button of buttonCount; let i = index" 
        [ngStyle]="{backgroundColor: i >= 4  ? 'blue' : 'transparent'}" 
        [ngClass]="{'white': i >= 4}"
        >{{ button }}
    </div>
</div>

